/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong{
  font-weight: bold;
}

/* custom */
a {
  color: #666;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}

li {
  list-style: none;
}

pre{
  white-space: pre-wrap;
  word-wrap: break-word;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 0;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 0;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
html, body {
  display: block;
  padding-bottom: env(safe-area-inset-bottom);
  font-size: 20px;
  font-size: 5.33333vw;
}

body{
  margin: 0 auto;
  min-width: 320px;
  max-width: 1080px;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  background-color: #fff;
  line-height: 1.5;
  background: #f0f2f5;
}

*{outline: none;}
/* 1.去除android a/button/input标签被点击时产生的边框 2.去除ios a标签被点击时产生的半透明灰色背景 */
/*a,button,input,textarea,select{-webkit-tap-highlight-color:rgba(255,0,0,0);}*/
a,button,textarea,li{-webkit-appearance: none;border-radius: 0;outline: none;-webkit-tap-highlight-color:rgba(255,0,0,0);}
select, input{-webkit-tap-highlight-color:rgba(255,0,0,0);}
input[type="text"], input[type="number"]{-webkit-appearance: none; border-radius: 0;outline: none;}
/*a:focus,button:focus,textarea:focus,select:focus,*/input:focus{
-webkit-tap-highlight-color:rgba(0,0,0,0);
-webkit-user-modify:read-write-plaintext-only;
}
/*修复placeholder颜色值*/
::-webkit-input-placeholder { /* WebKit browsers */ color:#bbb;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color:#bbb;}
::-moz-placeholder { /* Mozilla Firefox 19+ */ color:#bbb;}
:-ms-input-placeholder { /* Internet Explorer 10+ */ color:#bbb;}
input::-webkit-search-decoration, input::-webkit-search-cancel-button { display: none;}
input:-ms-clear{display: none;}
a{text-decoration: none;}
i, em{font-style: normal;}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6, a, span, pre{
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
.btns{
  display: flex;
  margin: 10px 0;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  border-radius: 2px;
  color: #fff;
}
.btn-red {
  background: #d05148;border-radius: 3px;
}
.btn-blue{
  background: #3a77e7;border-radius: 3px;
}
.btn-lightblue{
  background: #bbebe9;
  color: #0f8783;
  border-radius: 3px;
}
.btn-green{
  background: #44b549;border-radius: 3px;
}
.btn-gray{
  background: #ccc;border-radius: 3px;
}
.btn-orange { background: rgba(250,180,90,0.93); border-radius: 3px;}
.btns span{flex: 1;}
.text-blue{color: #3a77e7;}
.text-red{color: #e4393c;}
.el-message-box{
  width: auto!important;
  max-width: 100vw!important;
  min-width: 270px!important;
}
@-webkit-keyframes de_add_num{0%{top:-10px;opacity:1}50%{top:-25px;opacity:1}100%{top:-25px;opacity:0}}

.el-button--primary{
  background: #ff8c00!important;
  border-color: #ff8c00!important;
}
.el-button:active .el-button--primary.is-active, .el-button--primary:active, .el-button--primary.focus, .el-button--primary:hover{
  background: #ff8c00!important;
  border-color: #ff8c00!important;
}
.el-tabs__item{
  text-align: center!important;
}
.el-tabs--border-card{
  box-shadow: none!important;
}
.el-tabs__nav{
  display: flex;
  width: 100%;
}
.el-tabs__nav .el-tabs__item{
  flex: 1;
}
.el-tabs--border-card>.el-tabs__content{
  padding: 0!important;
}
.el-tabs__header{
  background-color: #fff!important;
}
.el-backtop{
  color: #ff8c00!important;
}