body, html
  font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif

input, textarea, select, pre
  font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif

.clearfix
  display: inline-block
  &:after
    display: block
    clear: both
    height: 0
    line-height: 0
    content: '.'
    visibility: hidden

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5)
  .border-1px, .border-bottom-1px
    &::after
      -webkit-transform: scaleY(0.7)
      transform: scaleY(0.7)

@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2)
  .border-1px, .border-bottom-1px
    &::after
      -webkit-transform: scaleY(0.5)
      transform: scaleY(0.5)

@-webkit-keyframes fadeIn
  from { opacity: 0; }
  to { opacity: 1; }

@keyframes fadeIn
  from { opacity: 0; }
  to { opacity: 1; }

