@font-face
  font-family: 'icomoon'
  src:  url('../fonts/icomoon.eot?6yh6fe')
  src:  url('../fonts/icomoon.eot?6yh6fe#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6yh6fe') format('truetype'),
    url('../fonts/icomoon.woff?6yh6fe') format('woff'),
    url('../fonts/icomoon.svg?6yh6fe#icomoon') format('svg')
  font-weight: normal
  font-style: normal
  font-display: block


[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-add_circle:before
  content: "\e900"

.icon-arrow_lift:before
  content: "\e901"

.icon-check_circle:before
  content: "\e902"

.icon-close:before
  content: "\e903"

.icon-favorite:before
  content: "\e904"

.icon-keyboard_arrow_right:before
  content: "\e907"

.icon-recycle:before
  content: "\e908"

.icon-remove_circle_outline:before
  content: "\e909"

.icon-shopping_cart:before
  content: "\e90a"

.icon-home:before
  content: "\e90b"

.icon-thumb_down:before
  content: "\e90e"

.icon-thumb_up:before
  content: "\e90f"

.icon-gift:before
  content: "\e912"

.icon-time_of_appointment:before
  content: "\e913"

.icon-classify:before
  content: "\e914"

.icon-recommend:before
  content: "\e915"

.icon-wallet:before
  content: "\e916"

.icon-order:before
  content: "\e917"

.icon-auction:before
  content: "\e918"

.icon-cart:before
  content: "\e919"

.icon-after_sales_service:before
  content: "\e91a"

.icon-truck:before
  content: "\e91b"

.icon-pending_payment:before
  content: "\e91c"

.icon-kefu:before
  content: "\e91d"

.icon-user2:before
  content: "\e91e"

.icon-close2:before
  content: "\e91f"

.icon-more:before
  content: "\e920"

.icon-address:before
  content: "\e921"

.icon-delivery_package_box:before
  content: "\e922"

.icon-My_order:before
  content: "\e923"

.icon-refund_and_return:before
  content: "\e924"

.icon-arrow_up:before
  content: "\e925"

.icon-arrow_down:before
  content: "\e926"

.icon-group_purchase:before
  content: "\e927"

.icon-miaosha:before
  content: "\e928"

.icon-filter:before
  content: "\e929"

.icon-heart:before
  content: "\e92a"

.icon-faq:before
  content: "\e92b"

.icon-login:before
  content: "\e92c"

.icon-quit:before
  content: "\e92d"

.icon-gift_card:before
  content: "\e92e"

.icon-edit:before
  content: "\e92f"

.icon-footprint:before
  content: "\e930"

.icon-top:before
  content: "\e931"

.icon-search2:before
  content: "\e934"

.icon-qrcode:before
  content: "\e93a"

.icon-diamond:before
  content: "\e93c"

.icon-paint:before
  content: "\e940"

.icon-upward2:before
  content: "\e941"

.icon-upward:before
  content: "\e942"

.icon-down2:before
  content: "\e943"

.icon-down:before
  content: "\e944"

.icon-file:before
  content: "\e945"

.icon-coupon:before
  content: "\e946"

.icon-tuan:before
  content: "\e947"

.icon-prefer:before
  content: "\e948"

.icon-cutingprice:before
  content: "\e949"

.icon-express_vehicle:before
  content: "\e94a"

.icon-shopping_basket:before
  content: "\e94b"

.icon-shopping_bag:before
  content: "\e94c"

.icon-dancers:before
  content: "\e94d"

.icon-person:before
  content: "\e94e"

.icon-question_mark:before
  content: "\e94f"

.icon-exclamation_mark:before
  content: "\e950"

.icon-exclamation_mark2:before
  content: "\e951"

.icon-user:before
  content: "\e971"

.icon-search:before
  content: "\e986"

.icon-command:before
  content: "\ea4e"

.icon-database:before
  content: "\e964"

.icon-fire:before
  content: "\e9a9"
