@font-face 
  font-family: 'sell-icon'
  src:  url('../fonts/sell-icon.eot?bfii4n')
  src:  url('../fonts/sell-icon.eot?bfii4n#iefix') format('embedded-opentype'),
    url('../fonts/sell-icon.ttf?bfii4n') format('truetype'),
    url('../fonts/sell-icon.woff?bfii4n') format('woff'),
    url('../fonts/sell-icon.svg?bfii4n#sell-icon') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"] 
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
.icon-top:before
  content: "\e931"
  
.icon-add_circle:before
  content: "\e900"

.icon-arrow_lift:before
  content: "\e901"

.icon-check_circle:before
  content: "\e902"

.icon-close:before
  content: "\e903"

.icon-favorite:before
  content: "\e904"

.icon-funds:before
  content: "\e905"

.icon-hot_tea:before
  content: "\e906"

.icon-keyboard_arrow_right:before
  content: "\e907"

.icon-recycle:before
  content: "\e908"

.icon-remove_circle_outline:before
  content: "\e909"

.icon-shopping_cart:before
  content: "\e90a"

.icon-teapot:before
  content: "\e90c"

.icon-teapot2:before
  content: "\e90d"

.icon-thumb_down:before
  content: "\e90e"

.icon-thumb_up:before
  content: "\e90f"

.icon-home:before
  content: "\e90b"

.icon-user:before
  content: "\e971"

.icon-command:before
  content: "\ea4e"

.icon-search:before
  content: "\e986"

.icon-kettle:before
  content: "\e910"

.icon-teapot_and_cup:before
  content: "\e911"

.icon-gift:before
  content: "\e912"

.icon-time_of_appointment:before
  content: "\e913"

.icon-classify:before
  content: "\e914"

.icon-recommend:before
  content: "\e915"

.icon-wallet:before
  content: "\e916"

.icon-order:before
  content: "\e917"

.icon-auction:before
  content: "\e918"

.icon-cart:before
  content: "\e919"

.icon-after_sales_service:before
  content: "\e91a"

.icon-truck:before
  content: "\e91b"

.icon-pending_payment:before
  content: "\e91c"

.icon-kefu:before
  content: "\e91d"

.icon-user2:before
  content: "\e91e"

.icon-close2:before
  content: "\e91f"

.icon-more:before
  content: "\e920"

.icon-address:before
  content: "\e921"

.icon-delivery_package_box:before
  content: "\e922"

.icon-My_order:before
  content: "\e923"

.icon-refund_and_return:before
  content: "\e924"

.icon-arrow_up:before
  content: "\e925"

.icon-arrow_down:before
  content: "\e926"

.icon-group_purchase:before
  content: "\e927"

.icon-miaosha:before
  content: "\e928"

.icon-filter:before
  content: "\e929"

.icon-heart:before
  content: "\e92a"

.icon-faq:before
  content: "\e92b"

.icon-login:before
  content: "\e92c"

.icon-quit:before
  content: "\e92d"

.icon-gift_card:before
  content: "\e92e"

.icon-edit:before
  content: "\e92f"

.icon-footprint:before
  content: "\e930"

