$color-gray = #999
$color-darkgray = #666
$color-lightgray = #f2f2f2
$color-red = #ff463c
$color-grey = #7f7f7f
$color-lightgrey = #f3f5f7
$color-greywhite = #fafafa
$color-orange = #ff463c
$color-molv = #00bb9c
$color-redpoint = #fb4741
$color-dark = #505050

$fontsize-small-s = 11px
$fontsize-small = 12px
$fontsize-medium-s = 13px
$fontsize-medium = 14px
$fontsize-large = 16px
$fontsize-icon = 20px
$fontsize-midicon = 22px
$fontsize-bigicon = 40px
$fontsize-homeicon = 28px
$fontsize-homebigicon = 30px
